body {
    background-color: rgba(40, 175, 0, 0.7);
    font-family: monospace;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 64px;
    align-content: center;
    text-align: center;
}

h2 {
    font-size: 32px;
}