@font-face {
    font-family: JetMed;
    src: url('/font/webfonts/JetBrainsMono-Medium.woff2'),
        url('/font/webfonts/JetBrainsMono-Bold.woff2')
}

* {
    font-family: JetMed;
}

body {
    background-color: rgba(40, 175, 0, 0.7);
    font-family: monospace;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 64px;
    align-content: center;
    text-align: center;
}

h2 {
    font-size: 32px;
}

h3 {
    position: relative;
    justify-content: center;
}

ul {
    list-style: none;
}